@model AspNetScaffoldTest.Data.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fldFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fldFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fldLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fldLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fldApartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fldApartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fldAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fldAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fldCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fldCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fldProvince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fldProvince)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fldPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fldPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fldPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fldPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fldEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fldEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.fldCustomerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
