@model IEnumerable<AspNetScaffoldTest.Data.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fldFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fldLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fldApartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fldAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fldCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fldProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fldPostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fldPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fldEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fldFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fldLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fldApartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fldAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fldCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fldProvince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fldPostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fldPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fldEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.fldCustomerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.fldCustomerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.fldCustomerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
