@page
@model AspNetScaffoldTest.RazorPages.Pages.Customers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.fldFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.fldFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.fldLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.fldLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.fldApartment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.fldApartment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.fldAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.fldAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.fldCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.fldCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.fldProvince)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.fldProvince)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.fldPostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.fldPostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.fldPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.fldPhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.fldEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.fldEmail)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Customer.fldCustomerID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
