@page
@model AspNetScaffoldTest.RazorPages.Pages.Vehicles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.fldModelID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.fldModelID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.fldTypeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.fldTypeID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.fldColourID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.fldColourID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.fldYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.fldYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.fldOdometer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.fldOdometer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.fldPreviousLease)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.fldPreviousLease)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.fldBookValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.fldBookValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.fldAutomatic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.fldAutomatic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.fldAir)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.fldAir)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.fldPowerLocks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.fldPowerLocks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.fldINLot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.fldINLot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.fldINGarage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.fldINGarage)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vehicle?.fldVIN">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
